// ---- Page Colors ---- //
$darkGrey: rgb(70, 75, 75);

// ---- Mixins ---- //
@mixin flex ($direction, $justify) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
}

#main {
    background: linear-gradient(rgb(112, 117, 119), rgb(144, 152, 155));
    min-height: 78vh;
    overflow-x: auto;
}