// ---- Page Colors ---- //
$darkGrey: rgb(70, 75, 75);
$lightBlue: rgb(149, 255, 220);

// ---- Mixins ---- //
@mixin flex ($direction, $justify) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
}

h1, h2 {
    color: $lightBlue;
    font-weight: 400;
}

h2 {
    font-size: 2.2em;
}

#main {
    background: $darkGrey;
    min-height: 90vh;
    overflow-x: auto;
    #title {
        @include flex (column, space-evenly);
        height: 90vh;
        text-align: center;
        #headers-container {
            h1 {
                font-size: 2.4em;
                margin: 20px;
            }
            h4 {
                font-size: 1.2em;
                font-weight: 400;
                text-transform: uppercase;
            }
        }
    }
    #about {
        // border: 1px solid white;
        margin: 20px auto;
        min-height: 90vh;
        h2, p, h4, ul {
            margin: 20px auto;
            max-width: 668px;
            width: 90%;
        }
        h2 {
            margin-bottom: 30px;
        }
        p {
            font-weight: 300;
        }
        h4 {
            color: $lightBlue;
            font-size: 1.2em;
            font-weight: 400;
            margin: 30px auto 10px;
        }
        ul {
            @include flex (row, space-evenly);
            flex-wrap: wrap;
            li {
                background: white;
                border-radius: 5px;
                color: $darkGrey;
                display: inline-block;
                margin: 10px;
                padding: 6px 10px;
                text-align: center;
                width: 46%;
            }
        }
    }
    #portfolio {
        // border: 1px solid white;
        margin: 20px auto;
        min-height: 90vh;
        h2,
        #grid {
            margin: 10px auto;
            max-width: 668px;
            width: 90%;
        }
        h2 {
            margin: 10px, auto;
            width: 90%;
        }
        #grid {
            @include flex (row, space-evenly);
            flex-wrap: wrap;
            margin: 0px auto;
            .project {
                display: inline-block;
                margin: auto;
                h4 {
                    font-weight: 400;
                    padding: 5px;
                    text-align: center;
                }
                .image-container {
                    @include flex (column, space-evenly);
                    // background: white;
                    background: rgb(67, 67, 68);
                    border: 3px solid rgb(60, 60, 60);
                    border-radius: 5px;
                    height: 180px;
                    margin: 5px 10px;
                    overflow: hidden;
                    width: 200px;
                    img {
                        align-self: center;
                        max-height: 180px;
                    }
                }
                .links {
                    @include flex (column, center);
                    background: rgba(100, 100, 100, 0.5);
                    border-radius: 5px;
                    height: 180px;
                    opacity: 0;
                    position: absolute;
                    top: 0;
                    width: 200px;
                    a {
                        align-self: center;
                        background: linear-gradient($lightBlue, rgb(49, 223, 165));
                        border: 2px solid rgb(49, 223, 165);
                        border-radius: 5px;
                        color: $darkGrey;
                        font-size: 0.8em;
                        font-weight: 600;
                        margin: 10px;
                        padding: 10px;
                        text-align: center;
                        width: 70%;
                    }
                    &:hover {
                        opacity: 1;
                        transition: all 300ms ease-in-out;
                    }
                }
            }
        }
        
    }
    #contact {
        // border: 1px solid white;
        margin: 20px auto 0;
        min-height: 90vh;
        h2 {
            margin: 40px auto;
            width: 90%;
        }
        #content-container {
            @include flex (column, space-evenly);
            margin: 10px auto;
            width: 90%;
            h4 {
                font-size: 1.5em;
                font-weight: 400;
                margin: 20px 0 30px;
            }
            p {
                margin: 10px 0; 
            }
            button {
                background: linear-gradient($lightBlue, rgb(49, 223, 165));
                border: 1px solid rgb(49, 223, 165);
                border-radius: 5px;
                display: inline-block;
                font-weight: 600;
                margin: 50px auto;
                padding: 16px 20px;
                a {
                    color: $darkGrey;
                    cursor: pointer;
                    text-decoration: none;
                }
            }
        }
    }
}