h1, h2 {
  color: #95ffdc;
  font-weight: 400;
}

h2 {
  font-size: 2.2em;
}

#main {
  background: #464b4b;
  min-height: 90vh;
  overflow-x: auto;
}

#main #title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 90vh;
  text-align: center;
}

#main #title #headers-container h1 {
  font-size: 2.4em;
  margin: 20px;
}

#main #title #headers-container h4 {
  font-size: 1.2em;
  font-weight: 400;
  text-transform: uppercase;
}

#main #about {
  margin: 20px auto;
  min-height: 90vh;
}

#main #about h2, #main #about p, #main #about h4, #main #about ul {
  margin: 20px auto;
  max-width: 668px;
  width: 90%;
}

#main #about h2 {
  margin-bottom: 30px;
}

#main #about p {
  font-weight: 300;
}

#main #about h4 {
  color: #95ffdc;
  font-size: 1.2em;
  font-weight: 400;
  margin: 30px auto 10px;
}

#main #about ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#main #about ul li {
  background: white;
  border-radius: 5px;
  color: #464b4b;
  display: inline-block;
  margin: 10px;
  padding: 6px 10px;
  text-align: center;
  width: 46%;
}

#main #portfolio {
  margin: 20px auto;
  min-height: 90vh;
}

#main #portfolio h2,
#main #portfolio #grid {
  margin: 10px auto;
  max-width: 668px;
  width: 90%;
}

#main #portfolio h2 {
  margin: 10px, auto;
  width: 90%;
}

#main #portfolio #grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0px auto;
}

#main #portfolio #grid .project {
  display: inline-block;
  margin: auto;
}

#main #portfolio #grid .project h4 {
  font-weight: 400;
  padding: 5px;
  text-align: center;
}

#main #portfolio #grid .project .image-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background: #434344;
  border: 3px solid #3c3c3c;
  border-radius: 5px;
  height: 180px;
  margin: 5px 10px;
  overflow: hidden;
  width: 200px;
}

#main #portfolio #grid .project .image-container img {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  max-height: 180px;
}

#main #portfolio #grid .project .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: rgba(100, 100, 100, 0.5);
  border-radius: 5px;
  height: 180px;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 200px;
}

#main #portfolio #grid .project .links a {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  background: -webkit-gradient(linear, left top, left bottom, from(#95ffdc), to(#31dfa5));
  background: linear-gradient(#95ffdc, #31dfa5);
  border: 2px solid #31dfa5;
  border-radius: 5px;
  color: #464b4b;
  font-size: 0.8em;
  font-weight: 600;
  margin: 10px;
  padding: 10px;
  text-align: center;
  width: 70%;
}

#main #portfolio #grid .project .links:hover {
  opacity: 1;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

#main #contact {
  margin: 20px auto 0;
  min-height: 90vh;
}

#main #contact h2 {
  margin: 40px auto;
  width: 90%;
}

#main #contact #content-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 10px auto;
  width: 90%;
}

#main #contact #content-container h4 {
  font-size: 1.5em;
  font-weight: 400;
  margin: 20px 0 30px;
}

#main #contact #content-container p {
  margin: 10px 0;
}

#main #contact #content-container button {
  background: -webkit-gradient(linear, left top, left bottom, from(#95ffdc), to(#31dfa5));
  background: linear-gradient(#95ffdc, #31dfa5);
  border: 1px solid #31dfa5;
  border-radius: 5px;
  display: inline-block;
  font-weight: 600;
  margin: 50px auto;
  padding: 16px 20px;
}

#main #contact #content-container button a {
  color: #464b4b;
  cursor: pointer;
  text-decoration: none;
}
/*# sourceMappingURL=mainstyles.css.map */