// ---- Page Colors ---- //
$darkGrey: rgb(70, 75, 75);

// ---- Mixins ---- //
@mixin flex ($direction, $justify) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
}

#footer {
    @include flex(column, center);
    background: $darkGrey;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    bottom: 0;
    height: 20vh;
    width: 100%;
    #social-links {
        @include flex(row, space-evenly);
        margin: 0 auto;
        width: 300px;
        li {
            a {
                .link-icon {
                    height: 26px;
                    width: 26px;
                }
            }
        }
    }
    p {
        align-self: center;
        font-size: 0.8em;
        margin: 10px 0;
        text-align: center;
    }
}