// ---- Page Colors ---- //
$darkGrey: rgb(70, 75, 75);
$lightBlue: rgb(149, 255, 220);

// ---- Mixins ---- //
@mixin flex ($direction, $justify) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
}

a {
    color: white;
    text-decoration: none;
}

li {
    list-style: none;
}

#header {
    #banner {
        @include flex(row, space-between);
        background: $darkGrey;
        box-shadow: -5px 0px 10px rgba(0, 0, 0, 0.5);
        height: 10vh;
        margin: 0px auto;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 2;
        h4 {
            align-self: center;
            font-weight: 400;
            margin: 0 30px;
        }
        #links-container {
            align-self: center;
            display: none;
            #nav-links {
                @include flex(row, flex-end);
                li {
                    margin: 0 30px;
                }
            }
        }
        #nav-symbol {
            align-self: center;
            cursor: pointer;
            // display: none;
            padding: 20px;
            z-index: 2;
            .line {
                background: white;
                border-radius: 5px;
                height: 3px;
                margin: 8px;
                transition: all 500ms ease-in-out;
                width: 40px;
            }
        }
    }
    .toggle1 {
        transform: rotate(-45deg) translate(-5px, 11px);
    }
    .toggle2 {
        opacity: 0;
    }
    .toggle3 {
        transform: rotate(45deg) translate(-5px, -11px);
    }
    #slider {
        @include flex(row, center);
        background: rgb(121, 130, 131);
        height: 90vh;
        position: fixed;
        // top: -29vh;
        width: 100vw;
        transition: top 800ms ease-in-out;
        z-index: 1;
        #slider-links {
            @include flex(column, space-around);
            width: 100%;
            li {
                @include flex(row, center);
                height: calc(39vh/4);
                a {
                    align-self: center;
                    color: white;
                    font-size: 1.2em;
                }
            }
        }
    }
    .slide-up {
        top: -90vh;
    }
    .slide-down {
        top: 10vh;
    }
}

@media (min-width: 768px) {
    #links-container {
        display: inline-block;
    }
}