a {
  color: white;
  text-decoration: none;
}

li {
  list-style: none;
}

#header #banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #464b4b;
  -webkit-box-shadow: -5px 0px 10px rgba(0, 0, 0, 0.5);
          box-shadow: -5px 0px 10px rgba(0, 0, 0, 0.5);
  height: 10vh;
  margin: 0px auto;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}

#header #banner h4 {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 1.1em;
  font-weight: 500;
  margin: 0 30px;
  text-transform: uppercase;
}

#header #banner h4 a:hover {
  color: #95ffdc;
}

#header #banner #links-container {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  display: none;
}

#header #banner #links-container #nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#header #banner #links-container #nav-links li {
  margin: 0 30px;
  font-family: 'Manrope', sans-serif;
}

#header #banner #links-container #nav-links li a:hover {
  color: #95ffdc;
}

#header #banner #nav-symbol {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  cursor: pointer;
  padding: 20px;
  z-index: 2;
}

#header #banner #nav-symbol .line {
  background: white;
  border-radius: 5px;
  height: 3px;
  margin: 8px;
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
  width: 40px;
}

#header .toggle1 {
  -webkit-transform: rotate(-45deg) translate(-5px, 11px);
          transform: rotate(-45deg) translate(-5px, 11px);
}

#header .toggle2 {
  opacity: 0;
}

#header .toggle3 {
  -webkit-transform: rotate(45deg) translate(-5px, -11px);
          transform: rotate(45deg) translate(-5px, -11px);
}

#header #slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #798283;
  height: 90vh;
  position: fixed;
  width: 100vw;
  -webkit-transition: top 800ms ease-in-out;
  transition: top 800ms ease-in-out;
  z-index: 1;
}

#header #slider #slider-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
}

#header #slider #slider-links li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: calc(39vh/4);
}

#header #slider #slider-links li a {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: white;
  font-size: 1.2em;
}

#header .slide-up {
  top: -90vh;
}

#header .slide-down {
  top: 10vh;
}

@media only screen and (min-width: 768px) {
  #header #banner #links-container {
    display: inline-block;
  }
  #header #banner #nav-symbol {
    display: none;
  }
}
/*# sourceMappingURL=headerstyles.css.map */